/* Sidebar */
.sidebar{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px;
    background: var(--sidebar-color);
    transition: width 0.3s ease-in-out;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
    color: var(--text-color); /* Menambahkan warna teks sesuai dengan warna yang telah Anda tentukan */
}

.header-text .profession{
    margin-top: -2px;
    color: var(--text-color); /* Menambahkan warna teks sesuai dengan warna yang telah Anda tentukan */
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}
